@media (max-width: 48em) {
    
    /* HEADER STYLING */

    .header-mobile {
        background: transparent;
        box-shadow: 1px 1px 5px #3e425155,
                    1px 1px 2px #00000022;
    }

    .nav-header {
        width: 100%;
        flex: none;
        justify-content: flex-start;
    }

    .nav-mobile {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .logo {
        text-align: center;
    }

    nav {
        display: none;
    } 

    .social-header {
       display: none;
    }

    /* MAIN STYLING */

    /* HERO SECTION */

    .hero-section {
        height: 55rem;
    }

    .hero-container {
        padding: 0 0;
    }

    .hero-text-container {
       padding: 0 1rem;
    }

    .hero-section h1 {
       font-size: 3.5rem;
       text-align: right;
       margin: 0 auto;
       line-height: 3.3rem;
       padding-bottom: 2rem;
   } 

    .hero-section h3 {
       text-align: right;
       font-size: .7rem;
   } 

    .hero-btn {
       justify-content: center;
       flex-direction: column;

       padding-top: 2rem;
   }

    .hero-btn-one {
        margin-right: 0;
    }

    .hero-section .btn {
        margin-top: 1rem;
        max-width: 20rem;
        width: 100%;
        align-self: flex-end;
    }

    /* WHAT MAKES A GOOD PAGE SECTION */
    
    .what-makes-a-good-page-section {
        padding: 4rem 2rem;
    }

    .what-makes-content-text {
        flex-direction: column;
    }

    .what-makes-right {
        padding-top: .5rem;
        padding-left: 0;
    }

    /* PORTFOLIO SECTION */

   .portfolio-container {
        height: auto;
    }

   .portfolio-item {
        flex-direction: column;
        padding: 4rem 0rem;
    }

    .portfolio-2 {
        flex-direction: column-reverse;
    }

    .simple-math-text a {
        align-self: flex-start;
    } 

    .portfolio-img {
        height: 20rem;
        border-radius: unset;

        margin: 0 0; 
        margin-top: 2rem;   
        
    }

    .portfolio-img img {
        border-radius: unset;
        overflow: visible;
    }

    /* ABOUT ME SECTION */

    .about-section {
        padding: 4rem 2rem;
    }

    .about-content-text {
        flex-direction: column;
    }

    .about-section {
        padding: 4rem 2rem;
        margin: 0 auto;
    }
    
    .about-text-right {
        padding-left: 0;
    }
}