@media (max-width: 48em) {
    
    .nav-mobile {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger:hover {
        height: 3rem;
        transform: rotate(90deg);
        border: .5px var(--white) solid;
        border-radius: 15rem;
        overflow: hidden;
    }
    

    .logo {
        text-align: center;
    }

   nav {
       display: none;
   } 

   .social-header {
       display: none;
   }

   .what-makes-a-good-page-section {
    padding: 4rem 2rem;
    }

    .what-makes-content-text {
        flex-direction: column;
    }

   .portfolio-container {
    height: auto;
    }

   .portfolio-item {
    flex-direction: column;
    padding: 4rem 2rem;
    }

    .portfolio-2 {
        flex-direction: column-reverse;
    }

    .portfolio-img {
    height: 20rem;

    padding-top: 2rem;    
    }

    .portfolio-img img {
        border-radius: 10px;
        overflow: hidden;  
    }

    .about-section {
        padding: 4rem 2rem;
    }

    .about-content-text {
        flex-direction: column;
    }


}