
/* font */
/* Ren font */
/* font-family: 'Noto Sans JP', sans-serif; */
/* Stilig font */
/* font-family: 'Cormorant Garamond', serif; */
/* Mjuk font */
/* font-family: 'Be Vietnam', sans-serif; */

:root {
    --darkgrey: #141414;
    --middlegrey: #3e4251;
    --grey: #807d8c;
    --beige: #90a2a2;
    --white: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max-width {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.height {
    height: 100%;
}

.width {
    width: 100%;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.self-end {
    justify-self: flex-end;
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
    height: 2rem;
    width: 90%;
    margin: 0 auto;
}

li {
    font-weight: 500;
    font-size: 1rem;

    transition: all .5s ease;
}

a {
    text-decoration: none;
    color: inherit;

    text-align: center;

    transition: all .5s ease;
}

h1, h2, h3, h4, p, li, a, i {
    font-family: 'Be Vietnam', sans-serif;
    color: var(--middlegrey);
}

h1 {
    font-weight: 400;
    font-size: 3rem;
    padding-bottom: .5rem;

    transition: all .5s ease;
}

h2 {
    padding-bottom: 1rem;

    transition: all .5s ease;
}

h3 {
    font-weight: 400;
    color: var(--beige);

    transition: all .5s ease;
}

i {
    font-size: 1.1rem;
    padding-left: 1.2rem;

    transition: all .5s ease;
}

.btn {
    border: 2px var(--middlegrey) solid;
    border-radius: 3px;
    padding: .5rem 2rem .7rem 2rem;

    transition: all .5s ease;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0 2rem;
}

.header-scroll {
    background: #fdfdfdaa;
    box-shadow: 1px 1px 5px #3e425155,
                1px 1px 2px #FFFFFF22;
}

.nav-header {
    padding: 1rem 0;
}

img {
    height: 3rem;
    width: 3rem;

    transition: all .5s ease;
}

nav {
    height: 2rem;
}

.hero-section {
    height: 60rem;
    background-image: url(./img/hero-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    transition: background-image .5s ease;
}

.hero-text-container {
    justify-content: center;
    width: 100%;
    padding-bottom: 8rem;
    text-align: end;
}

.hero-section .btn {
    margin-top: 2rem;
}

.hero-btn-one {
    margin-right: 1.5rem;
    color: var(--darkgrey);
    background: var(--white);
}

.hero-btn-two {
    font-weight: 600;
}

.hero-section mark{
    background: var(--grey);
    color: var(--white);   
    padding: .1rem .3rem .3rem .3rem; 
}

.portfolio-section {
    height: 60rem;
}

.what-makes-a-good-page-section {
    max-width: 45rem;
    width: 100%;

    padding: 4rem 0;
    margin: 0 auto;
}

.what-makes-a-good-page-section p {
    padding: .3rem 0;
}

.about-section {
    max-width: 45rem;
    width: 100%;

    padding: 4rem 0;
    margin: 0 auto;
}

.about-section p {
    padding: .3rem 0;
}

footer {
    width: 100%;
    height: 20rem;
    background: var(--middlegrey);
}