* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
/* Ren font */
/* font-family: 'Noto Sans JP', sans-serif; */
/* Stilig font */
/* font-family: 'Cormorant Garamond', serif; */
