
/* font */
/* Ren font */
/* font-family: 'Noto Sans JP', sans-serif; */
/* Stilig font */
/* font-family: 'Cormorant Garamond', serif; */
/* Mjuk font */
/* font-family: 'Be Vietnam', sans-serif; */

:root {
    --darkgrey: #141414;
    --middlegrey: #3e4251;
    --grey: #807d8c;
    --beige: #90a2a2;
    --white: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.no-desktop {
    display: none;
}

.max-width {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.height {
    height: 100%;
}

.width {
    width: 100%;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.self-end {
    justify-self: flex-end;
}

.text-center {
    text-align: center;
}

.ul-desktop {
    list-style: none;
    height: 2rem;
    width: 90%;
    margin: 0 auto;
}

.ul-mobile {
    list-style: none;
}

.ul-desktop li {
    font-weight: 500;
    font-size: 1rem;

    padding: .5rem 1rem;

    transition: all .5s ease;
}

.ul-mobile li {
    font-weight: 400;
    font-size: 1.5rem;

    transition: all .5s ease;
}

a {
    font-family: 'Be Vietnam', sans-serif;
    color: var(--white);
    text-decoration: none;
    color: inherit;

    text-align: center;

    transition: all .5s ease;
}

h1, h2, h3, h4, p, li, i {
    font-family: 'Be Vietnam', sans-serif;
    color: var(--middlegrey);
}

h1 {
    font-weight: 400;
    font-size: 3rem;
    padding-bottom: .5rem;

    transition: all .5s ease;
}

h2 {
    padding-bottom: 1rem;

    transition: all .5s ease;
}

h3 {
    font-weight: 400;
    color: var(--beige);

    transition: all .5s ease;
}

h4 {
    font-size: 2rem;
    font-weight: 400;

    padding-bottom: 1.5rem;
}

.nav-header i {
    font-size: 1.1rem;
    padding-left: 1.2rem;

    transition: all .5s ease;
}

.btn {
    border: 2px var(--middlegrey) solid;
    border-radius: 3px;
    padding: .5rem 2rem .7rem 2rem;

    /* box-shadow: 2px 3px 3px #55555511,
                2px 2px 3px #00000022,
                1px 1px 5px #00000022; */

    transition: all .5s ease;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;

    transition: all .3s ease;
}

.header-scroll {
    background: #efefefee;
    box-shadow: 1px 1px 5px #3e425155,
                1px 1px 2px #00000022;
}

.nav-header {
    padding: 1rem 0;
}

img {
    height: 3rem;
    width: 3rem;

    transition: all .5s ease;
}

nav {
    height: 2rem;
}

.hamburger {
    display: none;
    position: absolute;
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    margin-left: 2rem;

    transition: all .3s ease;

    cursor: pointer;

    z-index: 50;
}

.hamburger-line {
    height: 2px;
    background: var(--darkgrey);  
}


.nav-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;   
    display: none; 

    justify-content: center;

    text-align: center;

    background-color:  #3e4251ee;

    transition: all .5s ease;
}

.hamburger-open {
    left: 0;
    width: 100%
}

.nav-mobile i {
    color: var(--white);
    font-size: 1.1rem;
    margin-top: 2rem;
    padding: .5rem;

    transition: all .5s ease;
}

.nav-mobile a {
    color: var(--white);
}

.hero-section {
    height: 60rem;
    background-image: url(./img/hero-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    transition: background-image .5s ease;
}

.hero-text-container {
    justify-content: center;
    width: 100%;
    padding-bottom: 8rem;
    text-align: end;
}

.hero-section .btn {
    margin-top: 2rem;

    transition: all .5s ease;
}

.hero-btn-one {
    margin-right: 1.5rem;
    color: var(--darkgrey);
    background: var(--white);
}

.hero-btn-two {
    font-weight: 600;
}

mark{
    background: var(--grey);
    color: var(--white);   
    padding: .1rem .3rem .3rem .3rem; 
}

.what-makes-a-good-page-section {
    padding: 4rem 2rem;
    margin: 0 auto;
}

.what-makes-right {
    padding-left: 3rem;
}


.what-makes-a-good-page-section p {
}

.portfolio-section {
}

.portfolio-container {
    height: 30rem;
}

.portfolio-container-1 {
    background: #E1BC81;
}

.portfolio-container-1 h4, p {
    color: var(--middlegrey);
}

.portfolio-container-2 h4, p {
    color: var(--white);
}

.portfolio-container-3{
    background: #D32956;    
}

.portfolio-container-3 p, h4 {
    color: var(--white);    
}

.portfolio-item {
    height: 100%;
    padding: 4rem 0;
}

.portfolio-text {
    padding: 0 2rem;
    justify-content: center;
}

.portfolio-img {
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 2px 3px 3px #55555511,
                2px 2px 3px #00000022,
                1px 1px 5px #00000022;
}

.portfolio-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;    
}

.portfolio-item a {
    align-self: flex-start;
}
.portfolio-item .btn {
    margin-top: 1.5rem;   
}

.simple-math-text {
    text-align: right;
}

.simple-math-text a {
    align-self: flex-end;
}

.math-img {
    box-shadow: none;
}

.about-section {
    padding: 4rem 0;
    margin: 0 auto;
}

.about-text-right {
    padding-left: 3rem;
}

.about-section p {
    padding: .3rem 0;
}

footer {
    width: 100%;
    height: 20rem;
    background: var(--middlegrey);
}

/* Animationsklasser */


.animation-header-logo {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 1.8s ease-in forwards;
}

.animation-header-li1 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 1.9s ease-in forwards;   
}

.animation-header-li2 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 2s ease-in forwards;  
}

.animation-header-li3 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 2.1s ease-in forwards;  
}

.animation-header-li4 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 2.2s ease-in forwards;  
}

.animation-header-soc1 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 2.3s ease-in forwards;    
}

.animation-header-soc2 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 2.4s ease-in forwards;  
}

.animation-header-soc3 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeader 2.5s ease-in forwards;  
}

.animation-hero-h1 {
    transform: translateY(-5rem);
    opacity: 0;

    animation: animationHeroh1 .8s ease-in forwards;
}

.animation-hero-h3 {
    transform: translateY(5rem);
    opacity: 0;

    animation: animationHeroH3 1.2s ease-in forwards;
}

.animation-hero-btn-left {
    transform: translateX(10rem);

    animation: animationHeroBtnLeft 1.4s ease-in forwards;
}

.animation-hero-btn-right {
    transform: translateX(-10rem);

    animation: animationHeroBtnRight 1.5s ease-in forwards;
}

.animation-content-sections {
    transform: translateY(4rem);
    opacity: 0;

    transition: opacity .3s ease-in;
}
.animation-fadein {
    opacity: 1;    
    transform: translateY(0);

    animation: animateContentSections .5s ease-in;
}

@keyframes animationHeader {
    0% {
        transform: translateY(-5rem);
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animationHeroh1 {
    0% {
        transform: translateY(-5rem);
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animationHeroH3 {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animationHeroBtnLeft {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animationHeroBtnRight {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateContentSections {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}
